extends template.pug

block heroBody
	h1.title.is-1 Join Now

block content
	section.hero.is-fullheight
		.hero-body
			.container.has-text-centered
				button#startAppBtn.button.is-info.is-large Begin Application Process