doctype html
html.no-js(lang="en")
	include includes/head.pug
	body
		include includes/article.pug
		block hero
			section.hero.is-fullheight.firstHero
				.hero-head
					include includes/nav.pug
				.hero-body: .container.has-text-centered
					block heroBody
				.hero-foot
					block heroFoot

		article.article
			.container.content
				block content
		//- Footer
		include includes/footer.pug
		script.
			//<![CDATA[
			    document.write("<script async src='http://HOST:8001/browser-sync/browser-sync-client.js?v=2.18.13'><\/script>".replace("HOST", location.hostname));
			//]]></script>